.vscode/

*venv/
node_modules/
.idea/

PERSONAL_NOTES.md

.env

data/mydatabase.db
__pycache__/

hs_err_pid*.log
oscar_mcmaster.properties

*.lock
*-lock.json


# special folder for sorting assorted incoming files:
stuff/

k8s/values.yaml

dist/
